* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.bgimage1, .bgimage2 {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bgimage1 {
    background-image: url('bg.png'); /* First background image */
    position: relative;
}

.bgimage2 {
    background-image: url('bg2.png'); /* Second background image */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
}

.overlay h1 {
        font-size: 3rem;
        color: white;
        text-align: center;
}
